body {
	background-color: #000;
	background-image: url(../img/cosmos2.jpg);
}

.form-group	{
	text-align: center;
	margin-top: 50px;
}
.form-group h1{
	color: #ff3333;
}
.form-group button {
	width: auto;
	cursor: pointer;
	position: relative;
    background: #ff3333;
    color: #fff;
    border:none;
    padding: 15px 50px;
    margin: 20px 0;
    margin-left: 15px;
    transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	text-decoration: none;
	font-size: 12px;
  	font-weight: 400;
  	text-transform: uppercase;
  	letter-spacing: 0.08em;
  	font-family: "Montserrat", sans-serif;
}
.form-group button:hover{
	background:purple;
}
#yourSign, #fortune {
	color: #ff6633;
}
img {
	position: relative;
	z-index: -1;
}